<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Vote System</title>
        {% else %}
        <title>Welcome to Vote!</title>
        {% endif %}
    </head>
    <body>
        <h1>Welcome to Vote!</h1>
        <h2>薯片&emsp;<input type="button" class="vote_button" name="薯片" value="Support"></h2>
        <br/>
        <h2>林林&emsp;<input type="button" class="vote_button" name="林林" value="Support"></h2>
        <br/>
        <h2>正氣&emsp;<input type="button" class="vote_button" name="正氣" value="Support"></h2>
    </body>
    <script src="static/Vote.js"></script>
</html>